
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



.mt-199 {
    padding-top: 185px;
}

/* Make the form background transparent */
.registration-form {
    background-color: rgba(0, 0, 0, 0.6);
    /* Black with 50% opacity */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    /* Optional: add some shadow for better visibility */
}


.form-control {
    background-color: rgba(255, 255, 255, 0.9);
    /* Slightly transparent background for form inputs */
    border: 1px solid #ccc;
    color: #333;
}

.login_btn {
    font-size: 20px !important;
}

.form-contact .form-control {
    color: #fff;
}

.boxed-btn {
    background: linear-gradient(90deg, #e91a83 0%, #4c24c1 51%, #e91a83 100%) !important;
    color: #fff !important;
    font-size: 22px;
    padding: 10px 80px;
    text-transform: uppercase;
    font-family: inherit;
    font-size: 31px;
    border: transparent !important;
    border-radius: 40px;
}

.boxed-btn:hover {
    /* background: linear-gradient(90deg, #4c24c1 0%, #e91a83 20%, #4c24c1 100%) !important; */
    background: #e91a83 !important;

}

.Sidebar-area {
    background-color: rgba(0, 0, 0, 0.6);
    /* Black with 50% opacity */
    padding: 30px;
    border-radius: 10px;
    min-height: 650px;
    /* border: 1px solid white; */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    /* Optional: add some shadow for better visibility */
}

.form-control {
    background: transparent;
    /* Slightly transparent background for form inputs */
    border: 1px solid #ccc;
    color: #fff;
}

.text-header
{
    font-family: "Poppins", serif !important;
  font-weight: 700 !important;
  font-size: 20px !important;
}

.text-family
{
    font-family: "Poppins", serif !important;
}

.text-register
{
    font-family: "Muli", sans-serif !important;
}

.custom-font-size {
    font-size: 20px; /* Adjust the size as needed */
}

.form_inline
{
    padding-right: 2% !important;
}

.radio_form
{
    margin-top: 10px !important;
}





/* .sidebar {
    border-right: 1px solid #fff !important;
} */

.guest_form input:focus {
    background: transparent !important;
    color: #fff !important;
}

.nav-link {
    color: #fff !important;
    margin: 3px 0px;
}

.nav-item .active {
    background: linear-gradient(to right, #e91a83, #4c24c1) !important;
}

.nav-link:hover {
    background: linear-gradient(to right, #e91a83, #4c24c1);
}

#eventsTable,
#eventMessageTable,
#registrantsTable {
    width: 100% !important;
}

#eventsTable tr th,
#eventMessageTable tr th,
#registrantsTable tr th {
    font-size: 20px;
    padding: 10px;
}

#eventsTable tr td,
#eventMessageTable tr td,
#registrantsTable tr td {
    padding: 10px;
}


.nice-select {
    display: none !important;
}

.form-contact label {
    font-size: 17px !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice
{
    color:#000 !important;
}

.form_passsword
{
    position:relative !important;
}

.toggle-password,.confirm-toggle-password
{
    position: absolute;
    right: 15px;
    top: 5px;
}

.btn-outline-secondary
{
    border: none !important;
}

.btn-outline-secondary:hover,.btn-outline-secondary:active
{
    background: none !important;
    border: none !important;
}



.view_community_btn {
    background: linear-gradient(to right, #e91a83, #4c24c1) !important;
    font-size: 20px;
    border: 1px solid transparent !important;
}

.view_community_btn:hover {
    color: #e91a83;
    background: transparent !important;
    border: 1px solid #e91a83 !important;
}

form label {
    color: #fff !important;
}

.profile_update_btn {
    background: linear-gradient(to right, #e91a83, #4c24c1) !important;
    border: transparent !important;
    font-size: 20px;
    border-radius: 40px;
    padding: 10px 15px;
}

.profile_update_btn:hover {
    color: #e91a83;
    background: transparent !important;
    border: 1px solid #e91a83 !important;
}


.model_send_msg_btn,
.send_message_btn,
.add_guest_btn,
.add_more_btn,
.save_guest_btn {
    background: linear-gradient(to right, #e91a83, #4c24c1) !important;
    border: transparent !important;
    font-size: 20px;
    color: #fff;
    border-radius: 40px;
    padding: 10px 25px;
}

.send_message_btn:hover {
    background: transparent !important;
    border: 1px solid #e91a83 !important;
    color: #e91a83;
}

.mail_svg {
    padding-right: 4px;
}


.add_guest_btn:hover {
    background: transparent !important;
    border: 1px solid #e91a83 !important;
    color: #e91a83;
}

.add_more_btn:hover {
    background: transparent !important;
    border: 1px solid #e91a83 !important;
    color: #e91a83;
}

#registrantsTable thead th {
    padding: 6px;
    padding-left: 9px;
}

input:focus {
    background: transparent !important;
    color: #fff !important;
}

#registrantsTable tr td {
    padding: 7px;
    padding-left: 10px;
}

.save_guest_btn:hover {
    color: #e91a83;
    background: transparent !important;
    border: 1px solid #e91a83 !important;
}

.modle_change .form-control {
    color: #000 !important;
}

.paginate_button a {
    margin-top: 10px !important;
    background: linear-gradient(to right, #e91a83, #4c24c1) !important;
    color: #fff !important;
    border: transparent;
}

.profile_view_btn {
    background: transparent !important;
    border: 1px solid transparent !important;
    font-size: 20px;
    color: #e91a83;
    padding: 5px 20px;
    border-radius: 40px;
}

.profile_view_btn:hover {
    color: #4c24c1;
}


.profile_text {
    font-size: 30px;
    font-weight: bold;
}

.profile_label {
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
}



.profile_label::after {
    content: "";
    width: 50%;
    display: block;
    height: 2px;
    background: linear-gradient(to right, #e91a83, #4c24c1) !important;
}


.profile_data {
    font-size: 16px;
    padding-top: 0px;
    color: #fff;
}

.alert-success {
    background: linear-gradient(to right, #e91a83, #4c24c1) !important;
    color: #fff;
    border: transparent;
    width: 100%;
    text-align: center;
    font-size: 22px;
}

.alert-error {
    background: linear-gradient(to right, #e91a83, #4c24c1) !important;
    color: #fff;
    border: transparent;
    width: 100%;
    text-align: center;
    font-size: 22px;
}

#eventsTable_processing,
#eventMessageTable_processing {
    background: linear-gradient(to right, #e91a83, #4c24c1) !important;
    color: #fff;
    border: transparent;
}

.right_part {
    background: #4c24c1 !important;
}

.left_part {
    background: #e93c92 !important;
}

.chat-message {
    border-radius: 10px !important;
    width: 50% !important;
}

.chat_font p {
    color: #fff;
    line-height: 1;
    font-size: 13px;
    margin-top: 2px;
}

.chat_name {
    color: #fff;
    font-size: 14px;
}

.chat-message .timestamp {
    font-size: 9px !important;
    color: #fff;
}

.qr_span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px !important;
    width: 120px;
    background-color: #fff !important;
}

@media(max-width:768px) {
    #eventsTable tr th {
        padding-right: 30px !important;
        font-size: 13px;
    }



    #eventsTable tr td {
        font-size: 12px !important;
    }

    .view_community_btn {
        font-size: 10px;
    }
}


