.mt-199 {
    padding-top: 185px;
}

/* Make the form background transparent */
.registration-form {
    background-color: rgba(0, 0, 0, 0.5); /* Black with 50% opacity */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); /* Optional: add some shadow for better visibility */
}

.Sidebar-area {
    background-color: rgba(0, 0, 0, 0.5); /* Black with 50% opacity */
    padding: 30px;
    border-radius: 10px;
    min-height: 650px;
    border: 1px solid white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); /* Optional: add some shadow for better visibility */
}

.form-control {
    background-color: rgba(
        255,
        255,
        255,
        0.9
    ); /* Slightly transparent background for form inputs */
    border: 1px solid #ccc;
    color: #333;
}
